.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  background-color: azure;
  padding: 0.3vw;
}

.restuarant-info {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 15%;
  padding: 3vh;
}

.restuarant {
  background-color: rgb(174, 190, 187);
  border: 1px solid black;
  border-radius: 5%;
  padding: 1vw 3vw;
  margin: 2vw 3vw;
  cursor: pointer;
}